body {
    margin: 0;
    height: 100vh;
    background-color: #000000;   
}

#stage {
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

canvas {
    position: absolute;
}

#uicanvas {
    z-index: 3; 
}

#gamecanvas {
    z-index: 3;    
}

#backgroundcanvas {
    z-index: 2; 
    background-color: #000033;   
}